
<div class="container">
    <br><br>
    <div>
        <h3>Misión y visión</h3>
        <h6>Descargar archivo de misión y visión <a href="assets/documents/construccion_de_mision_y_vision.pdf" download="Construccion_de_mision_y_vision">
            <img width="30" height="30" alt="logo" [src]="logo">
            </a>
        </h6>
        <hr/>
    </div>  
    <div>
        <h3>Proyecto Final</h3>
        <h6>Descargar archivo de Proyecto Final
            <a href="assets/documents/IF3001 - Proyecto Final.pdf" download="IF3001 - Proyecto Final">
            <img width="30" height="30" alt="logo" [src]="logo">
        </a>
        </h6>
        <hr/>
    </div>
    <div>
        <h3>Guía rápida para Planeación Estratégica</h3>
        <h6>Descargar archivo de Planeación Estratégica
            <a href="assets/documents/Guia_Rapida_para_Planeacion_Estrategica.pdf" download="Guia_Rapida_para_Planeación_Estratégica">
            <img width="30" height="30" alt="logo" [src]="logo">
        </a>
        </h6>
        <hr/>
    </div>
    <div>
        <h3>Metodología Planificación estratégica</h3>
        <h6>Descargar archivo de Metodología Planificación estratégica
            <a href="assets/documents/Metodología Planificación estrategica.pdf" download="Metodología Planificación estrategica">
            <img width="30" height="30" alt="logo" [src]="logo">
        </a>
        </h6>
        <hr/>
    </div>
</div>